aiocache==0.11.1; python_version >= "3.5"
aiohttp==3.8.1; python_version >= "3.6" and python_full_version >= "3.8.0"
aiosignal==1.2.0; python_version >= "3.6" and python_full_version >= "3.8.0"
anyio==3.5.0; python_version >= "3.7" and python_full_version >= "3.6.2"
asgiref==3.5.1; python_version >= "3.7"
async-timeout==4.0.2; python_version >= "3.6" and python_full_version >= "3.8.0"
attrs==21.4.0; python_version >= "3.6" and python_full_version >= "3.8.0"
beanie==1.10.8; python_version >= "3.7" and python_version < "4.0"
certifi==2021.10.8
charset-normalizer==2.0.12; python_version >= "3.6" and python_full_version >= "3.8.0"
click==8.1.3; python_version >= "3.7" and python_version < "4.0"
colorama==0.4.4; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" and platform_system == "Windows" and python_version < "4.0" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.5.0" and platform_system == "Windows" and python_version < "4.0"
discord-ext-ipc @ git+https://github.com/krittick/discord-ext-ipc.git@main ; python_full_version >= "3.5.3"
dnspython==2.2.1; python_version >= "3.6" and python_version < "4.0"
fastapi-discord @ git+https://github.com/Tert0/fastapi-discord.git@master ; python_version >= "3.5"
fastapi==0.75.2; python_full_version >= "3.6.1"
frozenlist==1.3.0; python_version >= "3.7" and python_full_version >= "3.8.0"
h11==0.13.0; python_version >= "3.7"
httptools==0.4.0; python_version >= "3.7" and python_full_version >= "3.5.0"
idna==3.3; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.8.0"
motor==2.5.1; python_full_version >= "3.5.2"
msgpack==1.0.3
multidict==6.0.2; python_version >= "3.7" and python_full_version >= "3.8.0" and python_version < "4.0"
munch==2.5.0
py-cord @ git+https://github.com/Pycord-Development/pycord.git@master ; python_full_version >= "3.8.0"
pydantic==1.9.0; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.1"
pymongo==3.12.3; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.2"
python-dotenv==0.20.0; python_version >= "3.7"
pyyaml==6.0; python_version >= "3.6"
six==1.16.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
sniffio==1.2.0; python_version >= "3.7" and python_full_version >= "3.6.2"
starlette==0.17.1; python_version >= "3.6" and python_full_version >= "3.6.1"
toml==0.10.2; (python_version >= "2.6" and python_full_version < "3.0.0") or (python_full_version >= "3.3.0")
typing-extensions==4.2.0; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.1"
ujson==5.2.0; python_version >= "3.7"
uvicorn==0.17.6; python_version >= "3.7"
uvloop==0.16.0; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy" and python_version >= "3.7"
watchgod==0.8.2; python_version >= "3.7"
websockets==10.3; python_version >= "3.7"
yarl==1.7.2; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.8.0"
