aiocache==0.11.1; python_version >= "3.5"
aiohttp==3.8.1; python_version >= "3.6" and python_full_version >= "3.8.0"
aiosignal==1.2.0; python_version >= "3.6" and python_full_version >= "3.8.0"
anyio==3.6.1; python_version >= "3.7" and python_full_version >= "3.6.2"
async-timeout==4.0.2; python_version >= "3.6" and python_full_version >= "3.8.0"
attrs==21.4.0; python_version >= "3.6" and python_full_version >= "3.8.0"
beanie==1.11.6; python_version >= "3.7" and python_version < "4.0"
certifi==2022.6.15; python_version >= "3.6"
charset-normalizer==2.1.0; python_version >= "3.6" and python_full_version >= "3.8.0"
click==8.1.3; python_version >= "3.7" and python_version < "4.0"
colorama==0.4.5; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" and python_version < "4.0" and platform_system == "Windows" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.5.0" and python_version < "4.0" and platform_system == "Windows"
dependency-injector==4.39.1
discord-ext-ipc @ git+https://github.com/fs86/discord-ext-ipc@main ; python_full_version >= "3.5.3"
dnspython==2.2.1; python_version >= "3.6" and python_version < "4.0"
fastapi-discord @ git+https://github.com/Tert0/fastapi-discord.git@master ; python_version >= "3.5"
fastapi==0.78.0; python_full_version >= "3.6.1" and python_version >= "3.5"
frozenlist==1.3.0; python_version >= "3.7" and python_full_version >= "3.8.0"
h11==0.13.0; python_version >= "3.7"
httptools==0.4.0; python_version >= "3.7" and python_full_version >= "3.5.0"
idna==3.3; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.2"
motor==3.0.0; python_version >= "3.7" and python_version < "4.0"
msgpack==1.0.4
multidict==6.0.2; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.8.0"
munch==2.5.0
py-cord @ git+https://github.com/Pycord-Development/pycord.git@master ; python_full_version >= "3.8.0"
pydantic==1.9.1; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.1"
pyhumps==3.7.2
pymongo==4.1.1; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.2"
python-dotenv==0.20.0; python_version >= "3.7"
pyyaml==6.0; python_version >= "3.6"
six==1.16.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
sniffio==1.2.0; python_version >= "3.7" and python_full_version >= "3.6.2"
starlette==0.19.1; python_full_version >= "3.6.1" and python_version >= "3.6"
toml==0.10.2; (python_version >= "2.6" and python_full_version < "3.0.0") or (python_full_version >= "3.3.0")
typing-extensions==4.3.0; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.1"
ujson==5.4.0; python_version >= "3.7"
uvicorn==0.18.2; python_version >= "3.7"
uvloop==0.16.0; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy" and python_version >= "3.7"
watchfiles==0.15.0; python_version >= "3.7"
websockets==10.3; python_version >= "3.7"
yarl==1.7.2; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.8.0"
